<html>

<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Welcome to the Mini Message Board</h1>
    <a href="/new">Post a New Message</a>
    <h2>Messages:</h2>
    <% if (messages.length === 0) { %>
        <p>No messages yet. Be the first to post!</p>
    <% } else { %>
        <ul>
            <% messages.forEach(function(message, index) { %>
                <a href="/message/<%= message.id %>">
                <li><strong><%=  message.added_at.toLocaleDateString() %> <%= message.username %>:</strong> <%= message.text %></li>
                </a>
            <% }); %>
        </ul>
    <% } %>
</body>

</html>